In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
# create df
train = pd.read_csv('train.csv') # change file path

In [3]:
# drop null values
train.dropna(inplace=True)
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,455.366120,0.672131,1.191257,35.674426,0.464481,0.475410,78.682469
std,247.052476,0.470725,0.515187,15.643866,0.644159,0.754617,76.347843
min,2.000000,0.000000,1.000000,0.920000,0.000000,0.000000,0.000000
25%,263.500000,0.000000,1.000000,24.000000,0.000000,0.000000,29.700000
50%,457.000000,1.000000,1.000000,36.000000,0.000000,0.000000,57.000000
75%,676.000000,1.000000,1.000000,47.500000,1.000000,1.000000,90.000000
max,890.000000,1.000000,3.000000,80.000000,3.000000,4.000000,512.329200

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [5]:
# features and target
target = 'Survived'
features = ['Pclass', 'Age', 'SibSp', 'Fare']

In [6]:
# X matrix, y vector
X = train[features]
y = train[target]

In [7]:
# model 
model = LogisticRegression()
model.fit(X, y)
model.score(X, y)

0.7103825136612022

In [9]:
import pickle
pickle.dump(model, open('model.pkl', 'wb'))

In [14]:
import requests
import json

In [15]:
# local url
url = 'http://127.0.0.1:5000' # change to your url

In [30]:
# sample data
data = {'Pclass': 3
      , 'Age': 2
      , 'SibSp': 1
      , 'Fare': 50}
data = json.dumps(data)
print(data)

{"Pclass": 3, "Age": 2, "SibSp": 1, "Fare": 50}

In [22]:
send_request = requests.post(url, data)
print(send_request)

<Response [200]>

In [23]:
print(send_request.json())

{'results': {'results': 1}}

In [145]:
# sample data
data = {'Pclass': 3
      , 'Age': 2
      , 'SibSp': 1
      , 'Fare': 50}
data1 = json.dumps(data) #converting to json object
print(data1)

{"Pclass": 3, "Age": 2, "SibSp": 1, "Fare": 50}

In [146]:
data1 = json.loads(data1) #converting to dictionary same as request.get_json(force=True)
for x,y in data1.items():
    print(x,y)

Pclass 3
Age 2
SibSp 1
Fare 50

In [141]:
data1.update((x, [y]) for x, y in data1.items())
data_df = pd.DataFrame.from_dict(data1)

In [140]:
data_df.head()

   Pclass  Age  SibSp  Fare
0       3    2      1    50